@font-face {
    font-family: 'Intro';
    src: url('../../fonts/Intro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Intro';
    src: url('../../fonts/Intro-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

.app {
    height: 100%;
    font-family: 'Intro';
    font-weight: 700;
    background-repeat: no-repeat;
    background-size: cover;
}