@font-face{
    font-family: "bit";
}

* {
    padding: 0;
    margin: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none; /* Disable selection/copy in UIWebView */
}

html {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

body {
    width:  100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    touch-action: none;
    -ms-touch-action: none;
    overflow:hidden;
    font-family: "bit";
}

canvas {
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -o-crisp-edges;
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
    touch-action-delay: none;
    touch-action: none;
    -ms-touch-action: none;
}

.resultPlay {
    position: absolute;
    bottom: 5%;
    left: 23%;
}

.name {
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: rgba(0,0,0,.56);
    border-radius: 9px;
    border: 3px solid #55D2FA;
    text-align: center;
    padding: 5px 20px 3px;
    margin-bottom: 8px;
    max-width:30vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.hp {
    border-radius: 3px;
    width: 110px;
    height: 20px;
    background: #1F374C;
    background-image: linear-gradient(to right, #EB5757 100%, #1F374C 100%);
    border: 1px solid #EB5757;
    position: absolute;
    bottom: calc(5vh + 36px);
    right: 23vw;
    color: #fff;
    font-size: 12px;
    transition: all. 3s;
    line-height: 21px;
    text-align: center;
}

.scoreWrapper {
}


@media screen and (orientation:portrait) {
    .page {
        position: relative;
        width: 100vw;
        height: 100vh;
        opacity: 0;
    }
}