.main {
    background: url('../../img/bg.png') no-repeat;
    background-size: cover;
    background-position: 0 -100px;
    padding: 40px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.blockCenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    display: block;
    margin-bottom: 40px;
}

.messageImage {
    translate: transform .3s, margin .5s;
}

.message {
    text-align: center;
    width: 230px;
    margin: 0 auto 40px;
    color: #56CCF2;
    font-size: 16px;
    font-family: Intro, sans-serif;
    letter-spacing: 5%;
    transition: transform .3s, margin .5s;
    height: auto;
}

@media screen and (orientation:landscape) {
    .messageImage,
    .message {
        transform: translate(-2000px, 0);
        padding: 0;
        height: 0;
        line-height: 1.3;
    }
}

.actions {
    text-align: center;
    height: 0;
    transition: transform .5s;
}


@media screen and (orientation:portrait) {
    .actions {
        transform: translate(0, 1000px);
        height: auto;
    }
}