
.actions {
    text-align: center;
}

.color {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    box-shadow: 3px 3px rgba(0,0,0, .3)
}

.color-changer {
    width: 200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;
}

.right-arrow,
.left-arrow {
    transform: translateY(-1px);
    background-size: contain;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    flex: 0 0 auto;
}

.left-arrow {
    background-image: url('../../img/left.png');
}

.right-arrow {
    background-image: url('../../img/right.png');
}

.page {
    padding: 20px 0 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.inner {

}

.name {
    text-align: center;
    color: #56CCF2;
    font-size: 20px;
    margin-bottom: 0;
    margin-right: 20px;
}

.nameInner {
    display: flex;
    flex-flow: nowrap;
    max-width: 150px;
    justify-content: flex-end;
    white-space: nowrap;
}

.name-block {
    width: 200px;
    margin: 0 auto 30px;
    transform: translateY(20px);
    justify-content: flex-end;
    display: flex;
    align-items: center;
}